*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(to left, #acb6e5, #86fde8);
  padding: 1.5em 2em;

  color: #4d4d4d;
}

#heading{
  text-align: center;
  font-size: 2.5em;
}

.naming_conversion {
  margin-top: 2em;
  /* padding: 1.4em; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.naming_conversion .cases_div {
  padding: 0.7em;
}

.naming_conversion #text {
  margin: 0em 0em 0.25em;
  outline: 0;
  border-radius: 16px;
  box-shadow: none;
  border: navajowhite;
  padding: 0.5em 1.4em;
  width: 40%;
}

.cases_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.case_div {
  background-color: #e4e5e68e;
  border-radius: 12px;
  margin: 0.5em 0em;
  padding: 0.75em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;

  box-shadow: 3px 3px 5px;
 
}

.case_div h1 {
  font-size: 1.1em;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0em;
  margin: 0em;
  color: black;
}

.case_div p {
  font-size: 1.1em;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0em 0.25em;
  margin: 0em;
  color: #5433FF;
}

#convert-btn {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 0.3em 1.4em;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1em;
  box-shadow: 3px 3px 5px;

  color: #4d4d4d;
}

#text{
  font-size: 1.25em;
  min-width: 350px;

}

#contact{
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
  margin-top: 1.25em;
  justify-content: center;
  align-items: center;
}

#contact h1{
  font-size: 2em;
}

.connect-div{
  display: flex;
  gap: 2em;
}

img {
  filter: invert(75%);
}